$primary:  #2C4B5E;$secondary:  #FFBF40;

html{  font-family: sans-serif;}


body {
  font-size: 80%; }


@media (min-width: 601px) {
  body {
    font-size: 100%; } }
@media (min-width: 993px) {
  body {
    font-size: 120%;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 140%;
  }
}
h1 {
  font-size: 4em; }

h2 {
  font-size: 3.5em; }

h3 {
  font-size: 3em; }

h4 {
  font-size: 2.5em; }

h5 {
  font-size: 2em; }

h6 {
  font-size: 1.5em; }

p {
  font-size: 1em; }




#duck{
  width: 100%;
}

nav .brand-logo{
    padding: 0 15px;
  }nav{
    background-color: $primary;}.page-footer{  background-color: $primary;padding-top: 0;}main .container .row{margin-top: 1em;margin-bottom: 1em;}main{  color: $primary;}.nav-wrapper a:hover{  background: $secondary;color: $primary;}