/*removes the margin from the body*/
body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

.container {
    display:flex;
    flex-direction:column;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: #2C4B5E;
    overflow: hidden;
    float: left;
    width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    height: 1.2em;
    display: block;
    color: #fff;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin: 0px;
}


/* Change the color of links on hover */
.topnav a:hover {
    background-color: #FFBF40;
    color: #2C4B5E;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}


#twitter-icon {
    content: url(../images/twitter-icon.png);
    height: 1em;
    -webkit-filter: brightness(100);
    filter: brightness(100);
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 37.5em) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 37.5em) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.main {
    flex:1;
    height: 100%;
}


/*styling for duck image*/
#duck {
    content: url(../images/duck.png);
    display: block;
    margin: auto;
    padding: 4em 0 ;
    width: 70%;
    filter: drop-shadow(0.5em 1em 1em #cccccc);
}


footer {
    font-size: 1em;
    text-align: center;
    color: #5E8093;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    padding: 1em;
    background-color: #2C4B5E;
}

footer a {
    font-style: italic;
    color: #5E8093;
    text-decoration: none;
}

footer a:hover {
    color: #FFBF40;
}